# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

# Challenge 1 - Accessing our database
Create a connection to access the sakila database with the ip, user and password provided in class. Take a look at the data. Do some joins in order to have more elaborated tables in a dataframe (you can try first the query in the DBMS and then use it in your notebook).

In [11]:
# your code here
import sqlalchemy
import pandas as pd
import pymysql

In [12]:
conn_string = 'mysql+pymysql://data-students:iR0nH@cK-D4T4B4S3@34.65.10.136:3306/sakila'

conn = sqlalchemy.create_engine(conn_string)

In [5]:
df_sql = pd.read_sql_query('SELECT * FROM sakila.actor;', conn)

In [7]:
df_sql[0:3]

   actor_id first_name last_name         last_update
0         1   PENELOPE   GUINESS 2006-02-15 04:34:33
1         2       NICK  WAHLBERG 2006-02-15 04:34:33
2         3         ED     CHASE 2006-02-15 04:34:33

# Challenge 2 - Working with JSON files

Import the pandas library.

In [14]:
# your code here
import pandas

In the next cell, load the data in `nasa.json` in the `data` folder and load it into a pandas dataframe. Name the dataframe `nasa`.

In [8]:
# your code here
df = pd.read_json (r'/Users/andressalomferrer/Downloads/nasa.json')

Now that we have loaded the data, let's examine it using the `head()` function.

In [10]:
# your code here
df.head(2)

,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4,fall,geolocation,id,mass,name,nametype,recclass,reclat,reclong,year
0,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [6.08333, 50....",1,21.0,Aachen,Valid,L5,50.77500,6.08333,1880-01-01T00:00:00.000
1,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [10.23333, 56...",2,720.0,Aarhus,Valid,H6,56.18333,10.23333,1951-01-01T00:00:00.000

#### The `value_counts()` function is commonly used in pandas to find the frequency of every value in a column.

In the cell below, use the `value_counts()` function to determine the frequency of all types of asteroid landings by applying the function to the `fall` column.

In [14]:
# your code here
df['fall'].value_counts()

Fell     996
Found      4
Name: fall, dtype: int64

Finally, let's save the dataframe as a json file again. Save the dataframe using the `orient=records` argument and name the file `nasa-output.json`. Remember to save the file inside the `data` folder.

In [19]:
# your code here
df.to_json('/Users/andressalomferrer/Desktop/ironhack/lab/Week 2 labs/lab-import-export/data/nasa-output', orient='records')

# Challenge 2 - Working with CSV and Other Separated Files

CSV files are more commonly used as dataframes. In the cell below, load the file from the URL provided using the `read_csv()` function in pandas. Starting version 0.19 of pandas, you can load a CSV file into a dataframe directly from a URL without having to load the file first and then transform it. The dataset we will be using contains information about NASA shuttles.

In the cell below, we define the column names and the URL of the data. Following this cell, read the tst file to a variable called `shuttle`. Since the file does not contain the column names, you must add them yourself using the column names declared in `cols` using the `names` argument. Additionally, a tst file is space separated, make sure you pass ` sep=' '` to the function.

In [23]:
cols = ['time', 'rad_flow', 'fpv_close', 'fpv_open', 'high', 'bypass', 'bpv_close', 'bpv_open', 'class']

In [34]:
# your code here
import io
import requests
tst_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/shuttle/shuttle.tst'
s=requests.get(tst_url).content
shuttle=pd.read_csv(io.StringIO(s.decode('utf-8')),sep=' ')
shuttle

        55  0   81  0.1  -6  11  25   88   64  4
0       56  0   96    0  52  -4  40   44    4  4
1       50 -1   89   -7  50   0  39   40    2  1
2       53  9   79    0  42  -2  25   37   12  4
3       55  2   82    0  54  -6  26   28    2  1
4       41  0   84    3  38  -4  43   45    2  1
5       37  0  100    0  36  -8  63   64    2  1
6       46  0   83    0  46   0  37   36    0  1
7       44  0   79    0  42 -17  35   37    2  1
8       44 -1   78    0  44   0  34   34    0  1
9       55  0   81    0  54 -10  25   26    2  1
10      56  0   95    0  52  -3  40   44    4  4
11      37  0  100    0  34   6  64   67    4  1
12      43 -3   86    2  44  14  43   42    0  1
13      46 -5   84    0  46   0  38   37    0  1
14      45  0   81    0  44   0  36   37    0  1
15      48  0   86    0  50  30  38   37    0  1
16      56  0   78    0  42  -2  22   37   14  4
17      56  0   77    0  18 -18  22   59   38  4
18      45  5   90    0  44   0  44   46    2  1
19      37  0   77    0 -20  27  41   98   58  1
20      37  0   90   -6  18   0  53   72   20  1
21      37 -8   77    0  20   0  40   57   16  1
22      50  5   95   -3  50   0  45   46    2  1
23      43 -2   76    0  44  15  32   32    0  1
24      42 -1   85   -5  42   0  44   44    0  1
25      55  0   97    0  46  -2  42   51    8  4
26      37  0   76    0  26  20  39   50   12  1
27      37  0   76    8  30   0  40   45    6  1
28      45  0  106    0  46   9  61   60    0  1
29      37  0   81    0  38  17  44   43    0  1
...    ... ..  ...  ...  ..  ..  ..  ...  ... ..
14469   55  0   97    0  42   0  41   55   14  4
14470   44  0   84   -3  44   0  40   40    0  1
14471   46 -1   85   -4  46 -14  39   39    0  1
14472   45  0   77    0  44  -6  32   34    2  1
14473   55  0   98    0  44  11  42   54   12  4
14474   45 -2   88   -3  46  11  42   41    0  1
14475   41  0   83    0  42  10  42   41    0  1
14476   43  0   86   -4  42  -6  42   44    2  1
14477   55  0   96    0  46  -6  41   50    8  4
14478   44  0   86    1  42 -27  43   45    2  1
14479   56  0   98   -1  42 -17  42   57   14  4
14480   49 -5   82    0  50  10  33   33    0  1
14481   55  0   78   -2  18   0  23   60   38  4
14482   44  5   79    0  44   1  35   35    0  1
14483   47  2   77    0  46  -1  30   31    0  1
14484   45  4   77    0  44   0  31   33    2  1
14485   37  0   79    0  30   9  42   48    6  1
14486   43 -1   85    0  42 -10  42   44    2  1
14487   43  0   76    8  42   0  33   35    2  1
14488   37  0   80    0  30  24  43   49    6  1
14489   38  2   79    0  38  18  42   41    0  1
14490  101  0  102    0  70  -3   1   33   32  5
14491   39 -2   80   -4  38   0  41   41    0  1
14492   43  0   81    1  42  -9  37   39    2  1
14493   49  0   87    0  46 -12  38   41    2  1
14494   80  0   84    0 -36 -29   4  120  116  5
14495   55  0   81    0 -20  25  26  102   76  4
14496   55  0   77    0  12 -22  22   65   42  4
14497   37  0  103    0  18 -16  66   85   20  1
14498   56  2   98    0  52   1  42   46    4  4

[14499 rows x 10 columns]

In [ ]:
shuttle.columns = cols

In [ ]:
shuttle

Let's verify that this worked by looking at the `head()` function.

In [ ]:
# your code here

To make life easier for us, let's turn this dataframe into a comma separated file by saving it using the `to_csv()` function. Save `shuttle` into the file `shuttle.csv` and ensure the file is comma separated, that we are not saving the index column and that the file is saved inside the `data` folder.

In [ ]:
# your code here

# Challenge 3 - Working with Excel Files

We can also use pandas to convert excel spreadsheets to dataframes. Let's use the `read_excel()` function. In this case, `astronauts.xls` is in the `data` folder. Read this file into a variable called `astronaut`. 

Note: Make sure to install the `xlrd` library if it is not yet installed.

In [ ]:
# your code here

Use the `head()` function to inspect the dataframe.

In [ ]:
# your code here

Use the `value_counts()` function to find the most popular undergraduate major among all astronauts.

In [ ]:
# your code here

Due to all the commas present in the cells of this file, let's save it as a tab separated csv file. In the cell below, save `astronaut` as a **tab separated file** using the `to_csv` function. Call the file `astronaut.csv`. Remember to remove the index column and save the file in the `data` folder.

In [ ]:
# your code here

# Bonus Challenge - Fertility Dataset

Visit the following [URL](https://archive.ics.uci.edu/ml/datasets/Fertility) and retrieve the dataset as well as the column headers. Determine the correct separator and read the file into a variable called `fertility`. Examine the dataframe using the `head()` function. 

Look in Google for a way to retrieve this data!

In [ ]:
# your code here